:root {
    --color-normal: #A8A77A;
    --color-fire:  #EE8130;
    --color-water:  #6390F0;
    --color-electric:  #F7D02C;
    --color-grass:  #7AC74C;
    --color-ice:  #96D9D6;
    --color-fighting:  #C22E28;
    --color-poison:  #A33EA1;
    --color-ground:  #E2BF65;
    --color-flying:  #A98FF3;
    --color-psychic:  #F95587;
    --color-bug:  #A6B91A;
    --color-rock:  #B6A136;
    --color-ghost:  #735797;
    --color-dragon:  #6F35FC;
    --color-dark:  #705746;
    --color-steel:  #B7B7CE;
    --color-fairy:  #D685AD;
}

.Card .type-normal {background-color: var(--color-normal);}
.Card .type-fire {background-color: var(--color-fire);}
.Card .type-water {background-color: var(--color-water);}
.Card .type-electric {background-color: var(--color-electric);}
.Card .type-grass {background-color: var(--color-grass);}
.Card .type-ice {background-color: var(--color-ice);}
.Card .type-fighting {background-color: var(--color-fighting);}
.Card .type-poison {background-color: var(--color-poison);}
.Card .type-ground {background-color: var(--color-ground);}
.Card .type-flying {background-color: var(--color-flying);}
.Card .type-psychic {background-color: var(--color-psychic);}
.Card .type-bug {background-color: var(--color-bug);}
.Card .type-rock {background-color: var(--color-rock);}
.Card .type-ghost {background-color: var(--color-ghost);}
.Card .type-dragon {background-color: var(--color-dragon);}
.Card .type-dark {background-color: var(--color-dark);}
.Card .type-steel {background-color: var(--color-steel);}
.Card .type-fairy {background-color: var(--color-fairy);}

.Card {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
}

.Card .container {
    width: 50%;
    justify-content: center;
    align-items: center;
    display: none;
}

.Card .card {
    background-color: #fff;

    transform-style: preserve-3d;
    min-height: 80vh;
    width: 35rem;
    border-radius: 30px;
    padding: 0rem 5rem;
    box-shadow: 0 20px 20px rgba(0,0,0,0.2), 0px 0px 50px rgba(0,0,0,0.2);
}

.Card .poke {
    min-height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Card .poke img {
    width: 20rem;
    z-index: 2;
    transition: all 0.75s ease-out;
}

.Card .circle {
    width: 15rem;
    height: 15rem;
    opacity: 0.8;
    position: absolute;
    border-radius: 50%;
}

.Card .info {
    text-align: center;
}

.Card .info h1 {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 2.5rem;
    transition: all 0.75s ease-out;
}

.Card .info h3 {
    font-size: 1rem;
    padding: 2rem 0rem;
    color: #585858;
    font-weight: lighter;
    transition: all 0.75s ease-out;
}

.Card .types {
    display: flex;
    justify-content: space-evenly;
    transition: all 0.75s ease-out;
    margin-bottom: -20px;
    margin-top: -20px;
}

.Card .types button {
    padding: 0.5rem 2rem;
    width: 40%;
    border: none;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;

    color: #fff;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}

.Card .number {
    margin-top: 3rem;
}

.Card .number button {
    width: 100%;
    padding: 1rem 0rem;
    background: #666;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 30px;
    font-weight: bolder;
    transition: all 0.75s ease-out;
}